*{
    line-height: 100%;
    margin: 0;
}
ol, ul {
    list-style: none;
}
a:hover{
    text-decoration: none;
}
.wrapper{
    padding: 10px;
}
.user{
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid whitesmoke;
    padding: 10px;
}
.user_image img{
    border-radius: 50%;
}
.user_name h3{
    margin: 0;
    margin-top: 10px;
    line-height: 10px;
}
.user_name h3 a{
    font-size: 17px;
    color: #000;
    font-weight: normal
}
.user_in{
    text-align: center;
}